In [ ]:
# Formação Cientista de Dados - Fernando Amaral e Jones Granatyr
# Séries temporais

In [1]:
# Importação das bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from datetime import datetime
#registro de converters para uso do matplotlib
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [2]:
# Carregamento da base de dados
base = pd.read_csv('AirPassengers.csv')
base.head()
#base.shape

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [3]:
# Visualização do tipo de dados dos atributos
print(base.dtypes)

Month          object
#Passengers     int64
dtype: object

In [4]:
# Conversão dos atributos que estão no formato string para formato de data: ANO-MÊS
dateparse = lambda dates: datetime.strptime(dates, '%Y-%m')
base = pd.read_csv('AirPassengers.csv', parse_dates = ['Month'],
                   index_col = 'Month', date_parser = dateparse)
base

/tmp/ipykernel_70447/329844924.py:3: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  base = pd.read_csv('AirPassengers.csv', parse_dates = ['Month'],

            #Passengers
Month
1949-01-01          112
1949-02-01          118
1949-03-01          132
1949-04-01          129
1949-05-01          121
...                 ...
1960-08-01          606
1960-09-01          508
1960-10-01          461
1960-11-01          390
1960-12-01          432

[144 rows x 1 columns]

In [ ]:
# Visualização do índice do dataframe (#Passengers) 
base.index

In [ ]:
#criação da série temporal (ts)
ts = base['#Passengers']
ts

In [ ]:
# Visualização de registro específico
ts[1]

In [ ]:
# Visualização por ano e mês
ts['1949-02']

In [ ]:
# Visualização de data específica
ts[datetime(1949,2,1)]

In [ ]:
# Visualização de intervalos
ts['1950-01-01':'1950-07-31']

In [ ]:
# Visualização de intervalos sem preencher a data de início
ts[:'1950-07-31']

In [ ]:
# Visualização por ano
ts['1950']

In [ ]:
# Valores máximos 
ts.index.max()

In [ ]:
# mínimos
ts.index.min()

In [ ]:
# Visualização da série temporal completa
plt.plot(ts)

In [ ]:
# Visualização por ano
ts_ano = ts.resample('A').sum()
plt.plot(ts_ano)
ts_ano

In [ ]:
# Visualização por mês
ts_mes = ts.groupby([lambda x: x.month]).sum()
plt.plot(ts_mes)

In [ ]:
# Visualização entre datas específicas
ts_datas = ts['1960-01-01':'1960-12-01']
plt.plot(ts_datas)